services:
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

  # namespace
  Iepg\Bundle\Cas\:
    resource: '../../'
    exclude:
      - '../../DependencyInjection/'
      - '../../Resources/'
      - '../../Tests/'
 
  Iepg\Bundle\Cas\Controller\CasAuthenticator:
      arguments:
          $casConfig:
              cas_host: '%env(CAS_HOST)%'
              cas_path: '%env(CAS_PATH)%'
              cas_port: '%env(int:CAS_PORT)%'
              cas_ca: '%env(bool:CAS_CA)%'
              cas_ca_path: '%env(CAS_CA_PATH)%'
              cas_dispatcher_name: '%env(CAS_DISPATCHER_NAME)%'
              cas_user_unknow: '%env(CAS_USER_UNKNOW)%'

