{% extends "@cas_connection/base_cas.html.twig" %}
{% block cas_main %}
    <div class="container">
        <h2>Successful Authentication</h2>
        <p>You have been successfully authenticated, but you are not recognized in this application.</p>
        <p>Please contact the IT Department (Information Technology) or your department head for further assistance.</p>
    </div>
{% endblock %}