{% extends "@cas_connection/base_cas.html.twig" %}
{% block cas_main %}
    <div class="example-wrapper">
        <h1>Hello aux Utilisateurs</h1>
        <p>
            bravo {{ user.login }} pour votre connexion !
        </p>
    </div>
{% endblock %}